h1{ 
    text-align: center;
    border: 5px solid rgb(231, 158, 158);
    background-color: rgb(244, 165, 165);
margin-left: 20%;
margin-right: 20%;
border-radius: 10px;}
#V{
    color: rgb(243, 231, 231);
}
body{
background-color: salmon;
display: grid;


}
#H{
    border: 5px solid beige;
    text-size-adjust: 40%;
    margin-right: 80%;
    border-radius: 10px;
}
#N{
    text-size-adjust: 40%;
    border: 5px solid beige
    ; border-radius:10px ;
    grid-row: 2;
}

img{
    width: auto;
    height: 180px;
    right: 25%;
    border-radius: 10px;
}

#K{


    margin-right: 65%;
}
footer{text-align: center;}
#Q{}